@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
}

main {
  padding: 2rem 3rem;
}

.btn {
  margin: 2.5rem 0 0;
  display: block;
  padding: 1.5rem 3rem;
  font-weight: 400;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 1.5rem;
}

.btn-box {
  display: flex;
  justify-content: center;
}

/* #root {
  display: flex;
  flex-direction: column;
} */
